<!DOCTYPE html>
<html>
<head>
  <title>Repres React</title>
  <%= stylesheet_link_tag    "repres/react/application", media: "all" %>
  <%= javascript_include_tag "repres/react/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
